<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> <%= instance %></h1>
    <p>Request from <%= ip %></p>
  </body>
</html>
